@page
@model WelcomeModel
@{
  ViewData["Title"] = "Welcome";
  ViewData["Category1"] = "SmartAdmin";
  ViewData["PageName"] = "aspnetcore_welcome";
  ViewData["PreemptiveClass"] = "Default";
  ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: <span class='fw-300'>SmartAdmin for .NET Core</span>";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Introducing @Settings.App for @Settings.AppFlavor
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
@section ScriptsBlock{
<script>
    $.get('@Url.Page("/AspNetCore/Welcome")?handler=Filter&input=HellWord').done(res=>{
      console.log(res);
        });
        $.ajax({
    type: "POST",
    url: "@Url.Page("/AspNetCore/Welcome")",
    data: { input: "bar" },
    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
    success: function (response) {
        }
        });
  
</script>
}
