@page
@using CleanArchitecture.Razor.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model SmartAdmin.WebUI.Pages.KeyValues.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@{
    ViewData["Title"] = _localizer["Dictionaries"].Value;
    ViewData["PageName"] = "keyValuess_index";
    ViewData["Category1"] = _localizer["Dictionaries"].Value;
    ViewData["Heading"] = _localizer["Dictionaries"].Value;
    ViewData["PageDescription"] = _localizer["See all available options"].Value;
    ViewData["PreemptiveClass"] = "Default";
}
@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
    <link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
    <style>

        .keyValues_dg_datagrid-cell-c1-_action {
            overflow: visible !important
        }
    </style>
}
<div id="js-page-content-demopanels" class="card mb-g">
    <div class="card-header bg-white d-flex align-items-center">
        <h4 class="m-0">
            @_localizer["Dictionaries"]
            <small>@_localizer["See all available options"]</small>
        </h4>
        <div class="ml-auto">
            <button class="btn btn-sm btn-outline-primary " id="addbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-plus mr-1"></span>
                @_localizer["Add"]
            </button>
            <button class="btn btn-sm btn-outline-danger" disabled id="deletebutton">
                <span class="@(Settings.Theme.IconPrefix) fa-trash-alt mr-1"></span>
                @_localizer["Delete"]
            </button>
            <button class="btn btn-sm btn-outline-secondary" disabled id="cancelbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-stop mr-1"></span>
                @_localizer["Cancel"]
            </button>
            <button class="btn btn-sm btn-outline-primary" disabled id="savebutton">
                <span class="@(Settings.Theme.IconPrefix) fa-save mr-1"></span>
                @_localizer["Save"]
            </button>
            <button class="btn btn-sm btn-outline-primary " id="searchbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-search mr-1"></span>
                @_localizer["Search"]
            </button>
            <div class="btn-group" role="group">
                <button id="importbutton" type="button" class="btn btn-sm  btn-outline-primary waves-effect waves-themed">
                    <span class="@(Settings.Theme.IconPrefix) fa-upload mr-1"></span> @_localizer["Import Excel"]
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="importbutton">
                    <button id="gettemplatebutton" class="dropdown-item">@_localizer["Download Template"]</button>
                </div>
            </div>
            <button class="btn btn-sm btn-outline-primary " id="exportbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-download mr-1"></span>
                @_localizer["Export Excel"]
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                <table id="keyValues_dg">
                </table>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ImportExcel", new { importUri = Url.Page("/KeyValues/Index") + "?handler=Import",
    getTemplateUri = @Url.Page("/KeyValues/Index") + "?handler=CreateTemplate",
    onImportedSucceeded = "reload()" })
@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
    <script>//jQuery.fn.tooltip = bootstrapTooltip;</script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

    <script type="text/javascript">
        $('#searchbutton').click(function () {
            reload();
        });
        $('#addbutton').click(function () {
            onAddRow(null);
        });
        $('#deletebutton').click(function () {
            onDeleteChecked();
        });
        $('#cancelbutton').click(function () {
            onReject();
        });
        $('#savebutton').click(function () {
            onSaveChanged();
        });
        $('#exportbutton').click(function () {
            onExport();
        });
        $('#importbutton').click(function () {
            showImportModal();
        });
        $('#gettemplatebutton').click(function () {
            onGetTemplate();
        });
        $('#keyValues_form :submit').click(function (e) {
            console.log('submmit')
            var form = document.getElementsByClassName('needs-validation')[0];
            $(form).find(":valid").parent().removeClass("was-validated");
            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
            } else {
                var request = $('#keyValues_form').serialize();
                axios.post('/KeyValues/Index', request).then(res => {
                    toastr["info"]('@_localizer["Save Success"]');
                    $('#keyValues_modal').modal('toggle');
                    reload();
                }).catch((error) => {
                    var msg = error.response.data;
                    bootbox.alert({
                        size: "small",
                        title: "@_localizer["Error"]",
                        message: msg,
                        callback: function () { /* your callback code */ }
                    })

                });
            }
            event.preventDefault();
            event.stopPropagation();
        })
        var $dg={};
        var initdatagrid = () => {
            $dg = $('#keyValues_dg').datagrid({
                height: 700,
                method: 'GET',
                rownumbers: false,
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                sortName: 'Id',
                sortOrder:'desc',
                pageSize: 15,
                pageList: [15, 30, 50, 100, 1000],
                onBeforeLoad: function () {
                    editIndex = undefined;
                    $('#deletebutton').prop('disabled', true);
                },
                onCheckAll: function (rows) {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onUncheckAll: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheck: function () {
                    $('#deletebutton').prop('disabled', false);
                },
                onUncheck: function () {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onClickRow: function (index, row) {
                    console.log('onClickRow')
                    currentItem = row;
                    onBeginEdit(index, row);
                },
                onEndEdit: function (index, row) {
                    onEndEdit(index,row)
                },
                columns: [[
                    { field: 'ck', checkbox: true },
                    {
                        field: 'Name',
                        title: '@_localizer["Name"]',
                        sortable: true,
                        width: 150,
                        editor: { type: 'textbox', options: { required: true} }
                    },
                    {
                        field: 'Value',
                        title: '@_localizer["Value"]',
                        sortable: true,
                        width: 130,
                        editor: { type: 'textbox', options: { required: true } }
                    },
                    {
                        field: 'Text',
                        title: '@_localizer["Text"]',
                        sortable: true,
                        width: 150,
                        editor: { type: 'textbox', options: { required: true } }
                    },
                    {
                        field: 'Description',
                        title: '@_localizer["Description"]',
                        sortable: true,
                        width: 180,
                        editor: { type: 'textbox', options: { required: false } }
                    }

                ]]
            })
                .datagrid('enableFilter', {})
                .datagrid('load', '@Url.Page("/KeyValues/Index")?handler=Data');

        }

        var reload = () => {
            $dg.datagrid('load', '@Url.Page("/KeyValues/Index")?handler=Data');
        }

        $(() => {
            initdatagrid();
        })
        var editIndex = undefined;
        var currentItem = {};
        var onEndEditing = () => {
            if (editIndex == undefined) {
                return true
            }
            if ($dg.datagrid('validateRow', editIndex)) {
                $dg.datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        var onAddRow = () => {
            if (onEndEditing()) {
                $dg.datagrid('insertRow', { index: 0,
                    row:{ Name: currentItem.Name, Description: currentItem.Description }
                    });
                editIndex =0 ;
                $dg.datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
                $('#savebutton').prop('disabled', false);
                $('#cancelbutton').prop('disabled', false);
            }
        }
        var onBeginEdit = (index, field)=> {
            if (editIndex != index) {
                if (onEndEditing()) {
                    $dg.datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                    var ed = $dg.datagrid('getEditor', { index: index, field: field });
                    if (ed) {
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    setTimeout(function () {
                        $dg.datagrid('selectRow', editIndex);
                    }, 1);
                }
                $('#savebutton').prop('disabled', false);
                $('#cancelbutton').prop('disabled', false);
            }
        }
        var onEndEdit = (index, row)=> {
            var ed = $dg.datagrid('getEditor', {
                index: index,
                field: 'Name'
            });
            row.Name = $(ed.target).textbox('getValue');
            currentItem = row;
        }

        var onReject = () => {
            $dg.datagrid('rejectChanges');
            editIndex = undefined;
            $('#savebutton').prop('disabled', true);
            $('#cancelbutton').prop('disabled', true);
        }
        var onSaveChanged = () => {
            if (onEndEditing()) {
                if ($dg.datagrid("getChanges").length) {
                    const inserted = $dg.datagrid('getChanges', 'inserted').map(item => {
                        item.TrackingState = 1;
                        return item;
                    });
                    const updated = $dg.datagrid('getChanges', 'updated').map(item => {
                        item.TrackingState = 2
                        return item;
                    });
                    const deleted = $dg.datagrid('getChanges', 'deleted').map(item => {
                        item.TrackingState = 3
                        return item;
                    });
                    //Deleting duplicate items
                    const changed = inserted.concat(updated.filter(item => {
                        return !deleted.includes(item);
                    })).concat(deleted);
                    axios.post('@Url.Page("/KeyValues/Index")', { Items: changed }, {
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() }
                    })
                        .then(response => {
                            toastr["info"]('@_localizer["Save Success"]');
                            $dg.datagrid('acceptChanges');
                            reload();
                        }).catch(error => {
                            var msg = error.response.data;
                            bootbox.alert({
                                size: "small",
                                title: "@_localizer["Error"]",
                                message: msg,
                                callback: function () { /* your callback code */ }
                            })

                        });

                }
            }
        }


        var onDeleteChecked = () => {
            var checkedId = $dg.datagrid('getChecked').map(x => x.Id);
            if (checkedId.length > 0) {
                bootbox.confirm({
                    message: "@_localizer["Are you sure delete checked rows?"]",
                    buttons: {
                        confirm: {
                            label: '@_localizer["Yes"]',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@_localizer["No"]',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var paras = new URLSearchParams(checkedId.map(s => ['id', s]));
                            console.log(paras.toString())
                            axios.get('@Url.Page("/KeyValues/Index")?handler=DeleteChecked&' + paras.toString()).then(res => {
                                toastr["info"](`@_localizer["Delete ${checkedId.length} Success"]`);
                                reload();
                            })
                                .catch((error) => {
                                    var msg = error.response.data;
                                    bootbox.alert({
                                        size: "small",
                                        title: "@_localizer["Error"]",
                                        message: msg,
                                        callback: function () { /* your callback code */ }
                                    })
                                });
                        }
                    }
                });

            }
        }
        var onExport = () => {
            var options = $dg.datagrid('options');
            var data = {
                filterRules: JSON.stringify(options.filterRules),
                sort: options.sortName,
                order: options.sortOrder,
            }
            console.log(options,data)
            var headers = {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            axios.post('@Url.Page("/KeyValues/Index")?handler=Export',
                data,
                {
                    headers: headers,
                    responseType: "blob"
                })
                .then(response => {
                    const filename = getFileName(response.headers['content-disposition']);
                    const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                }).catch(error => {
                    console.log(error)
                })


        }


    </script>
}
