<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
@if (ViewBag.Title?.Length > 0)
{
	<text>@ViewData["Title"] @(ViewData["Category1"]!=null?(" - "  + ViewData["Category1"]):"") - @Settings.App v@(Settings.Version)</text>
} else {
	@Settings.App
}
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="_Styles" />
    <link rel="stylesheet" href="~/AdminLTE.WebUI.styles.css" asp-append-version="true" />
    @RenderSection("HeadBlock", required: false)
</head>
<body class="hold-transition sidebar-mini text-sm">
    <div class="wrapper">
        <partial name="_TopNavigation" />
        <partial name="_Sidebar" />
        <div class="content-wrapper" style="padding: 20px;min-height: 530.031px;background:white!important;">
            @RenderBody()
        </div>
        <partial name="_Footer" />
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
 
    </div>
            <partial name="_Scripts" />
            @RenderSection("ScriptsBlock", required: false)
</body>
</html>
