@page
@using CleanArchitecture.Razor.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@using CleanArchitecture.Razor.Infrastructure.Constants.Permission
@model SmartAdmin.WebUI.Pages.Documents.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService _authorizationService
@{
  ViewData["Title"] = _localizer["Documents"].Value;
  ViewData["PageName"] = "documents_index";
  ViewData["Category1"] = _localizer["Documents"].Value;
  ViewData["Heading"] = _localizer["Documents"].Value;
  ViewData["PageDescription"] = _localizer["See all available options"].Value;
  ViewData["PreemptiveClass"] = "Default";
  var _canCreate = await _authorizationService.AuthorizeAsync(User, null, Permissions.Documents.Create);
  var _canEdit = await _authorizationService.AuthorizeAsync(User, null, Permissions.Documents.Edit);
  var _canDelete = await _authorizationService.AuthorizeAsync(User, null, Permissions.Documents.Delete);
  var _canSearch = await _authorizationService.AuthorizeAsync(User, null, Permissions.Documents.Search);
  var _canExport = await _authorizationService.AuthorizeAsync(User, null, Permissions.Documents.Export);
}
@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
    <link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
    <style>

        .document_dg_datagrid-cell-c1-_action {
            overflow: visible !important
        }
    </style>
}
<div id="js-page-content-demopanels" class="card mb-g">
    <div class="card-header bg-white d-flex align-items-center">
        <h4 class="m-0">
            @_localizer["Documents"]
            <small>@_localizer["See all available options"]</small>
        </h4>
        <div class="ml-auto">
            @if (_canCreate.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="addbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-plus mr-1"></span>
                    @_localizer["Add"]
                </button>
            }
            @if (_canDelete.Succeeded)
            {
                <button class="btn btn-sm btn-outline-danger" disabled id="deletebutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-trash-alt mr-1"></span>
                    @_localizer["Delete"]
                </button>
            }
            @if (_canSearch.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="searchbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-search mr-1"></span>
                    @_localizer["Search"]
                </button>
            }
            @if (_canExport.Succeeded)
            {
                <button class="btn btn-sm btn-outline-primary " id="exportbutton">
                    <span class="@(Settings.Theme.IconPrefix) fa-download mr-1"></span>
                    @_localizer["Export Excel"]
                </button>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="document_dg">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="document_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="document_form" class="needs-validation" novalidate="novalidate">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Input.Id" />
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="form-label" for="Title">@_localizer["Title"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Title" class="form-control" placeholder="Title" required />
                            <span class="invalid-feedback" asp-validation-for="Input.Title">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="DocumentTypeId">@_localizer["Document Type"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.DocumentTypeId" class="custom-select" placeholder="Document Type" required>
                                @if (Model.DocumentTypeDtos != null)
                                {
                                    @foreach (var item in Model.DocumentTypeDtos)
                                    {
                                        <option value="@item.Id">@item.Name </option>
                                    }
                                }
                            </select>
                            <span class="invalid-feedback" asp-validation-for="Input.DocumentTypeId">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="IsPublic"> </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Input.IsPublic" class="custom-control-input" value="true">
                                <label class="custom-control-label" for="Input_IsPublic">@_localizer["Is Public"]</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for=""></label>

                            <input type="file" asp-for="UploadedFile" style="display:none" required />
                            <div class="">

                                <button name="uploadbutton" class="btn btn-primary btn-icon waves-effect waves-themed mr-2">
                                    <i class="fal fa-paperclip"></i>
                                </button><span class="text-danger">*</span>
                                <div id="uploadfilename">
                                    <div class="alert alert-danger mt-2 mb-2" role="alert">
                                        <i class="fal fa-exclamation-triangle mr-2"></i>   @_localizer["Please upload a file"].
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="Description">@_localizer["Description"] </label>
                            <input type="text" asp-for="Input.Description" class="form-control" placeholder="Description" />
                            <span class="invalid-feedback" asp-validation-for="Input.Description">Sorry, you missed this one.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                    <button type="submit" name="savebutton" class="btn btn-primary">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Component.InvokeAsync("ImportExcel", new
{
    importUri = Url.Page("/Documents/Index") + "?handler=Import",
    getTemplateUri = @Url.Page("/Documents/Index") + "?handler=CreateTemplate",
    onImportedSucceeded = "reload()"
})
@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
    <script>jQuery.fn.tooltip = bootstrapTooltip;</script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

    <script type="text/javascript">
        $('#searchbutton').click(function () {
            reload();
        });
        $('#addbutton').click(function () {
            popupmodal(null);
        });
        $('#deletebutton').click(function () {
            onDeleteChecked();
        });
        $('#exportbutton').click(function () {
            onExport();
        });
        $('#document_form :submit').click(function (e) {

            var form = document.getElementsByClassName('needs-validation')[0];
            console.log(form.checkValidity())
            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
            } else {
                event.preventDefault();
                event.stopPropagation();
                var request = $('#document_form').serialize();
                var formData = new FormData(form);
                formData.append("UploadedFile", uploadfileinput.files[0]);
                axios({
                    url: '@Url.Page("/Documents/Index")',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                    if (response.data.Succeeded) {
                        toastr["info"]('@_localizer["Save Success"]');
                        $('#document_modal').modal('toggle');
                        reload();
                    } else {
                        var errors = response.data.Errors;
                        errors.forEach(item => {
                            toastr["error"](item);
                        })

                    }
                }).catch(error => {
                    var msg = error.response.data;
                    bootbox.alert({
                        size: "small",
                        title: "@_localizer["Error"]",
                        message: msg,
                        callback: function () { /* your callback code */ }
                    })
                })

            }
            event.preventDefault();
            event.stopPropagation();
        })
        var uploadfilename = document.querySelector("#uploadfilename");
        var uploadbutton = document.querySelector("button[name='uploadbutton']");
        var uploadfileinput = document.getElementById("UploadedFile");
        var savebutton = document.querySelector("button[name='savebutton']");
        uploadbutton.addEventListener('click', (e) => {
            uploadfileinput.click();
        })
        uploadfileinput.onchange = () => {
            fileName = uploadfileinput.value.split('\\').pop();
            uploadfilename.innerHTML = `
              <div class="alert alert-info alert-dismissible fadeup show mb-2 mt-2" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                      </button>
                      <div class="d-flex align-items-center">
							<div class="alert-icon">
									<i class="@(Settings.Theme.IconPrefix) fa-upload fs-xl"></i>
							</div>
							<div class="flex-1">
	    							${fileName}
							</div>
					</div>
             </div>
        `
            savebutton.disabled = false;
            $('#uploadfilename .alert').on('closed.bs.alert', (e) => {
                uploadfileinput.value = null;
                savebutton.disabled = true;
            })
        };
        var $dg={};
        var initdatagrid = () => {
            $dg = $('#document_dg').datagrid({
                height: 700,
                method: 'GET',
                rownumbers: false,
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                sortName: 'Id',
                sortOrder:'desc',
                pageSize: 15,
                pageList: [10, 15, 30, 50, 100, 1000],
                onBeforeLoad: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheckAll: function (rows) {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onUncheckAll: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheck: function () {
                    $('#deletebutton').prop('disabled', false);
                },
                onUncheck: function () {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                columns: [[
                    { field: 'ck', checkbox: true },
                    {
                        field: '_action',
                        title: '@_localizer["Command"]',
                        width: 100,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return `<div class="btn-group" role="group">
                                      <button id="commandbtngroup" type="button" @(_canEdit.Succeeded? "":"disabled")  class="btn btn-outline-primary btn-sm dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="@(Settings.Theme.IconPrefix) fa-edit"></i>
                                     </button>
                                     <div class="dropdown-menu dropdown-menu-animated" aria-labelledby="commandbtngroup">
                                       <button class="dropdown-item" onclick="onEdit(${index})" @(_canEdit.Succeeded? "":"disabled")><i class="fal fa-edit mr-1"></i> @_localizer["Edit"]</button>
                                       <button class="dropdown-item" onclick="onDelete('${row.Id}')" @(_canDelete.Succeeded? "":"disabled") ><i class="fal fa-trash-alt mr-1"></i> @_localizer["Delete"]</button>
                                     </div>
                                  </div>`;
                        }
                    },
                    { field: 'Title', title: '@_localizer["Title"]', sortable: true, width: 180 },
                    { field: 'DocumentTypeName', title: '@_localizer["Document Type"]', sortable: true, width: 150 },
                    { field: 'IsPublic', title: '@_localizer["Is Public"]', sortable: true, width: 120 },
                    { field: 'Description', title: '@_localizer["Description"]', sortable: true, width: 280 },
                    { field: 'CreatedBy', title: '@_localizer["Created By"]', sortable: true, width: 160 },
                    { field: 'Created', title: '@_localizer["Created Time"]', formatter: dateformatter, sortable: true, width: 160 },

                ]]
            })
                .datagrid('enableFilter', {})
                .datagrid('load', '@Url.Page("/Documents/Index")?handler=Data');

        }

        var reload = () => {
            $dg.datagrid('load', '@Url.Page("/Documents/Index")?handler=Data');
        }

        $(() => {
            initdatagrid();
        })
        var popupmodal = (document) => {
            $('#document_modal').modal('toggle');
            $('#document_modal .modal-title').html('@_localizer["Add Document"]');
            $('#document_form')[0].reset();
            if (document) {
                uploadbutton.disabled = true;
                uploadfileinput.required = false;
                $('#document_modal .modal-title').html('@_localizer["Edit Document"]');
                uploadfilename.innerHTML = `
                  <div class="alert alert-info alert-dismissible fadeup show mb-2 mt-2" role="alert">
                         <div class="d-flex align-items-center">
							<div class="alert-icon">
									<i class="@(Settings.Theme.IconPrefix) fa-upload fs-xl"></i>
							</div>
							<div class="flex-1">
	    							${document.URL}
							</div>
					</div>
                </div>
                `
                $('#document_form').jsonToForm(document, {
                    IsPublic: function (value) {
                        if (value == true) {
                            $('#document_form [name*="IsPublic"]').prop('checked', true);
                        } else {
                            $('#document_form [name*="IsPublic"]').prop('checked', false);
                        }
                    }
                })
            } else {
                uploadbutton.disabled = false;
                uploadfileinput.required = true;
                $('#document_form #Input_Id').val(0);
                uploadfilename.innerHTML =`<div class="alert alert-danger mt-2 mb-2" role="alert">
                                        <i class="fal fa-exclamation-triangle mr-2"></i>   @_localizer["Please upload a file"].
                             </div>`
            }
        }

        var onEdit = (index) => {
            var document = $dg.datagrid('getRows')[index];
            popupmodal(document);
        }
        var onDelete = (id) => {
            bootbox.confirm({
                message: "@_localizer["Are you sure delete a row?"]",
                buttons: {
                    confirm: {
                        label: '@_localizer["Yes"]',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@_localizer["No"]',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        axios.get('@Url.Page("/Documents/Index")?handler=Delete&id=' + id).then(res => {
                            toastr["info"]('@_localizer["Delete Success"]');
                            reload();
                        })
                            .catch((error) => {
                                var msg = error.response.data;
                                bootbox.alert({
                                    size: "small",
                                    title: "@_localizer["Error"]",
                                    message: msg,
                                    callback: function () { /* your callback code */ }
                                })
                            });
                    }
                }
            })
        }
        var onDeleteChecked = () => {
            var checkedId = $dg.datagrid('getChecked').map(x => x.Id);
            if (checkedId.length > 0) {
                bootbox.confirm({
                    message: "@_localizer["Are you sure delete checked rows?"]",
                    buttons: {
                        confirm: {
                            label: '@_localizer["Yes"]',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@_localizer["No"]',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var paras = new URLSearchParams(checkedId.map(s => ['id', s]));
                            console.log(paras.toString())
                            axios.get('@Url.Page("/Documents/Index")?handler=DeleteChecked&' + paras.toString()).then(res => {
                                toastr["info"](`@_localizer["Delete ${checkedId.length} Success"]`);
                                reload();
                            })
                                .catch((error) => {
                                    var msg = error.response.data;
                                    bootbox.alert({
                                        size: "small",
                                        title: "@_localizer["Error"]",
                                        message: msg,
                                        callback: function () { /* your callback code */ }
                                    })
                                });
                        }
                    }
                });

            }
        }
        var onExport = () => {
            var options = $dg.datagrid('options');
            var data = {
                filterRules: JSON.stringify(options.filterRules),
                sort: options.sortName,
                order: options.sortOrder,
            }
            console.log(options,data)
            var headers = {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            axios.post('@Url.Page("/Documents/Index")?handler=Export',
                data,
                {
                    headers: headers,
                    responseType: "blob"
                })
                .then(response => {
                    const filename = getFileName(response.headers['content-disposition']);
                    const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                }).catch(error => {
                    console.log(error)
                })


        }


    </script>
}
