@page
@using CleanArchitecture.Razor.Domain.Enums
@model SmartAdmin.WebUI.Pages.Customers.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@{
    ViewData["Title"] = _localizer["Customers"].Value;
    ViewData["PageName"] = "customers_index";
    ViewData["Category1"] = _localizer["Customers"].Value;
    ViewData["Heading"] = _localizer["Customers"].Value;
    ViewData["PageDescription"] = _localizer["See all available options"].Value;
    ViewData["PreemptiveClass"] = "Default";
}
@section HeadBlock {

    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
    <link rel="stylesheet" media="screen,print" href="~/lib/easyui/themes/insdep/easyui.css">
    <style>

        .customer_dg_datagrid-cell-c1-_action {
            overflow: visible !important
        }
    </style>
}
<div id="js-page-content-demopanels" class="card mb-g">
    <div class="card-header bg-white d-flex align-items-center">
        <h4 class="m-0">
            @_localizer["Customers"]
            <small>@_localizer["See all available options"]</small>
        </h4>
        <div class="ml-auto">
            <button class="btn btn-sm btn-outline-primary " id="addbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-plus mr-1"></span>
                @_localizer["Add"]
            </button>
            <button class="btn btn-sm btn-outline-danger" disabled id="deletebutton">
                <span class="@(Settings.Theme.IconPrefix) fa-trash-alt mr-1"></span>
                @_localizer["Delete"]
            </button>
            <button class="btn btn-sm btn-outline-primary " id="searchbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-search mr-1"></span>
                @_localizer["Search"]
            </button>
            <div class="btn-group" role="group">
                <button id="importbutton" type="button" class="btn btn-sm  btn-outline-primary waves-effect waves-themed">
                    <span class="@(Settings.Theme.IconPrefix) fa-upload mr-1"></span>   @_localizer["Import Excel"]
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-split waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="importbutton">
                    <button id="gettemplatebutton" class="dropdown-item" >@_localizer["Download Template"]</button>
                </div>
            </div>
            <button class="btn btn-sm btn-outline-primary " id="exportbutton">
                <span class="@(Settings.Theme.IconPrefix) fa-download mr-1"></span>
                @_localizer["Export Excel"]
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="customer_dg">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="customer_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                </button>
            </div>
            <form id="customer_form" class="needs-validation" novalidate="novalidate">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Input.Id" />
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="form-label" for="name">@_localizer["Name"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Name" class="form-control" placeholder="Customer Name" required />
                            <span class="invalid-feedback" asp-validation-for="Input.Name">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="nameOfEnglish">@_localizer["Name Of English"] </label>
                            <input type="text" asp-for="Input.NameOfEnglish" class="form-control" placeholder="Customer Name of English" />
                            <span class="invalid-feedback" asp-validation-for="Input.NameOfEnglish">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="GroupName">@_localizer["Group Name"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.GroupName" class="form-control" placeholder="Group Name" required />
                            <span class="invalid-feedback" asp-validation-for="Input.GroupName">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="PartnerType">@_localizer["Partner Type"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.PartnerType" class="custom-select" asp-items="Html.GetEnumSelectList<PartnerType>()" required>
                            </select>
                            <span class="invalid-feedback" asp-validation-for="Input.PartnerType">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="GroupName">@_localizer["Region"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Region" class="form-control" placeholder="Region" required />
                            <span class="invalid-feedback" asp-validation-for="Input.Region">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Sales">@_localizer["Sales"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Sales" class="form-control" placeholder="Sales" required />
                            <span class="invalid-feedback" asp-validation-for="Input.Sales">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="RegionSalesDirector">@_localizer["Region Sales Director"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.RegionSalesDirector" class="form-control" placeholder="Region Sales Director" required />
                            <span class="invalid-feedback" asp-validation-for="Input.RegionSalesDirector">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="Address">@_localizer["Address"] </label>
                            <input type="text" asp-for="Input.Address" class="form-control" placeholder="Address" />
                            <span class="invalid-feedback" asp-validation-for="Input.Address">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="Sales">@_localizer["Address Of English"] </label>
                            <input type="text" asp-for="Input.AddressOfEnglish" class="form-control" placeholder="Address Of English" />
                            <span class="invalid-feedback" asp-validation-for="Input.AddressOfEnglish">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Contract">@_localizer["Contract"] </label>
                            <input type="text" asp-for="Input.Contract" class="form-control" placeholder="Contract" />
                            <span class="invalid-feedback" asp-validation-for="Input.Contract">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Email">@_localizer["Email"] </label>
                            <input type="text" asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span class="invalid-feedback" asp-validation-for="Input.Email">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="PhoneNumber">@_localizer["Phone Number"] </label>
                            <input type="text" asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                            <span class="invalid-feedback" asp-validation-for="Input.PhoneNumber">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Fax">@_localizer["Fax"] </label>
                            <input type="text" asp-for="Input.Fax" class="form-control" placeholder="Fax" />
                            <span class="invalid-feedback" asp-validation-for="Input.Fax">Sorry, you missed this one.</span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="Comments">@_localizer["Comments"] </label>
                            <input type="text" asp-for="Input.Comments" class="form-control" placeholder="Comments" />
                            <span class="invalid-feedback" asp-validation-for="Input.Comments">Sorry, you missed this one.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                    <button type="submit" class="btn btn-primary">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Component.InvokeAsync("ImportExcel", new { importUri = Url.Page("/Customers/Index") + "?handler=Import",
    getTemplateUri = @Url.Page("/Customers/Index") + "?handler=CreateTemplate",
    onImportedSucceeded = "reload()" })
@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
    <script>jQuery.fn.tooltip = bootstrapTooltip;</script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

    <script type="text/javascript">
        $('#searchbutton').click(function () {
            reload();
        });
        $('#addbutton').click(function () {
            popupmodal(null);
        });
        $('#deletebutton').click(function () {
            onDeleteChecked();
        });
        $('#exportbutton').click(function () {
            onExport();
        });
        $('#importbutton').click(function () {
            showImportModal();
        });
        $('#gettemplatebutton').click(function () {
            onGetTemplate();
        });
        $('#customer_form :submit').click(function (e) {
            console.log('submmit')
            var form = document.querySelector('#customer_form');
            $(form).find(":valid").parent().removeClass("was-validated");
            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
            } else {
                var request = $('#customer_form').serialize();
                axios.post('@Url.Page("/Customers/Index")', request).then(res => {
                    toastr["info"]('@_localizer["Save Success"]');
                    $('#customer_modal').modal('toggle');
                    reload();
                }).catch((error) => {
                    var msg = error.response.data;
                    bootbox.alert({
                        size: "small",
                        title: "@_localizer["Error"]",
                        message: msg,
                        callback: function () { /* your callback code */ }
                    })

                });
            }
            event.preventDefault();
            event.stopPropagation();
        })
        var $dg={};
        var initdatagrid = () => {
            $dg = $('#customer_dg').datagrid({
                height: (window.innerHeight-320),
                method: 'GET',
                rownumbers: false,
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                sortName: 'Id',
                sortOrder:'desc',
                pageSize: 15,
                pageList: [10, 15, 30, 50, 100, 1000],
                onBeforeLoad: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheckAll: function (rows) {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                onUncheckAll: function () {
                    $('#deletebutton').prop('disabled', true);
                },
                onCheck: function () {
                    $('#deletebutton').prop('disabled', false);
                },
                onUncheck: function () {
                    const checked = $(this).datagrid('getChecked').length > 0;
                    $('#deletebutton').prop('disabled', !checked);
                },
                columns: [[
                    { field: 'ck', checkbox: true },
                    {
                        field: '_action',
                        title: '@_localizer["Command"]',
                        width: 100,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return `<div class="btn-group" role="group">
                           <button id="commandbtngroup" type="button"  class="btn btn-outline-primary btn-sm dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="@(Settings.Theme.IconPrefix) fa-edit"></i>
                           </button>
                           <div class="dropdown-menu dropdown-menu-animated" aria-labelledby="commandbtngroup">
                               <button class="dropdown-item" onclick="onEdit(${index})" ><i class="fal fa-edit mr-1"></i> @_localizer["Edit"]</button>
                               <button class="dropdown-item" onclick="onDelete('${row.Id}')"><i class="fal fa-trash-alt mr-1"></i> @_localizer["Delete"]</button>
                           </div>
                       </div>
                        `;
                        }
                    },
                    { field: 'Name', title: '@_localizer["Name"]', sortable: true, width: 180 },
                    { field: 'NameOfEnglish', title: '@_localizer["Name Of English"]', sortable: true, width: 180 },
                    { field: 'GroupName', title: '@_localizer["Group Name"]', sortable: true, width: 180 },
                    { field: 'PartnerType', title: '@_localizer["Partner Type"]', sortable: true, width: 100, align: 'right' },
                    { field: 'Region', title: '@_localizer["Region"]', sortable: true, width: 120 },
                    { field: 'Sales', title: '@_localizer["Sales"]', sortable: true, width: 120 },
                    { field: 'RegionSalesDirector', title: '@_localizer["Region Sales Director"]', sortable: true, width: 140 },
                    { field: 'Address', title: '@_localizer["Address"]', sortable: true, width: 180 },
                    { field: 'AddressOfEnglish', title: '@_localizer["Address Of English"]', sortable: true, width: 180 },
                    { field: 'Contract', title: '@_localizer["Contract"]', sortable: true, width: 120 },
                    { field: 'Email', title: 'Email', sortable: true, width: 130 },
                    { field: 'PhoneNumber', title: '@_localizer["Phone Number"]', sortable: true, width: 120 },
                    { field: 'Fax', title: '@_localizer["Fax"]', sortable: true, width: 120 },
                    { field: 'Comments', title: '@_localizer["Comments"]', sortable: true, width: 180 }

                ]]
            })
                .datagrid('enableFilter', {})
                .datagrid('load', '@Url.Page("/Customers/Index")?handler=Data');

        }

        var reload = () => {
            $dg.datagrid('load', '@Url.Page("/Customers/Index")?handler=Data');
        }

        $(() => {
            initdatagrid();
        })
        var popupmodal = (customer) => {
            $('#customer_modal').modal('toggle');
            $('#customer_modal .modal-title').html('@_localizer["Add Customer"]');
            $('#customer_form')[0].reset();
            if (customer) {
                $('#customer_modal .modal-title').html('@_localizer["Edit Customer"]');
                $('#customer_form').jsonToForm(customer, {
                    PartnerType: function (value) {
                        if (value == 'TP') {
                            $('#customer_form [name*="PartnerType"]').val(0);
                        } else {
                            $('#customer_form [name*="PartnerType"]').val(1);
                        }
                    }
                })
            } else {
                $('#customer_form #Input_Id').val(0)

            }
        }

        var onEdit = (index) => {
            var customer = $dg.datagrid('getRows')[index];
            popupmodal(customer);
        }
        var onDelete = (id) => {
            bootbox.confirm({
                message: "@_localizer["Are you sure delete a row?"]",
                buttons: {
                    confirm: {
                        label: '@_localizer["Yes"]',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@_localizer["No"]',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        axios.get('@Url.Page("/Customers/Index")?handler=Delete&id=' + id).then(res => {
                            toastr["info"]('@_localizer["Delete Success"]');
                            reload();
                        })
                            .catch((error) => {
                                var msg = error.response.data;
                                bootbox.alert({
                                    size: "small",
                                    title: "@_localizer["Error"]",
                                    message: msg,
                                    callback: function () { /* your callback code */ }
                                })
                            });
                    }
                }
            })
        }
        var onDeleteChecked = () => {
            var checkedId = $dg.datagrid('getChecked').map(x => x.Id);
            if (checkedId.length > 0) {
                bootbox.confirm({
                    message: "@_localizer["Are you sure delete checked rows?"]",
                    buttons: {
                        confirm: {
                            label: '@_localizer["Yes"]',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@_localizer["No"]',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var paras = new URLSearchParams(checkedId.map(s => ['id', s]));
                            console.log(paras.toString())
                            axios.get('@Url.Page("/Customers/Index")?handler=DeleteChecked&' + paras.toString()).then(res => {
                                toastr["info"](`@_localizer["Delete ${checkedId.length} Success"]`);
                                reload();
                            })
                                .catch((error) => {
                                    var msg = error.response.data;
                                    bootbox.alert({
                                        size: "small",
                                        title: "@_localizer["Error"]",
                                        message: msg,
                                        callback: function () { /* your callback code */ }
                                    })
                                });
                        }
                    }
                });

            }
        }
        var onExport = () => {
            var options = $dg.datagrid('options');
            var data = {
                filterRules: JSON.stringify(options.filterRules),
                sort: options.sortName,
                order: options.sortOrder,
            }
            console.log(options,data)
            var headers = {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            axios.post('@Url.Page("/Customers/Index")?handler=Export',
                data,
                {
                    headers: headers,
                    responseType: "blob"
                })
                .then(response => {
                    const filename = getFileName(response.headers['content-disposition']);
                    const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8' }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                }).catch(error => {
                    console.log(error)
                })


        }


    </script>
}
