@page
@model LoginModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<LoginModel> _localizer
@{
  ViewData["PageName"] = "login";
  ViewData["Title"] = _localizer["Login"].Value;
}

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
}

@section PageHeading {
    <div class="col col-md-6 col-lg-7 hidden-sm-down">
        <h2 class="fs-xxl fw-500 text-white">
            Razor page application &amp; Clean Architecture
            <small class="h3 fw-200 mt-3 mb-5 text-white opacity-60">
                Clean Architecture is a formal architecture which is relatively "modern" in that it is less than ten years old. It evolved over time from several other architectures including Hexagonal Architecture, Ports and Adapters, and Onion Architecture
            </small>
            <embed src="https://estruyf-github.azurewebsites.net/api/VisitorHit?user=neozhu&repo=neozhu&countColor=%237B1E7A" style="display:block;" />
        </h2>
        <a href="https://github.com/neozhu/RazorPageCleanArchitecture" class="fs-lg fw-500 text-white opacity-70">SourceCode &gt;&gt;</a>
         
    </div>
}

<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
        @_localizer["Secure login"]
    </h1>
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" method="post">
            <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.UserName">@_localizer["User name"]</label>
                <input type = "text" asp-for="Input.UserName" class="form-control" placeholder="User Name for verification" value="administrator" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.UserName">Sorry, you missed this one.</span>
                <div class="help-block">@_localizer["The user name you registered with"]</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">@_localizer["Password"]</label>
                <input type = "password" asp-for="Input.Password" class="form-control" placeholder="Your password (minimum 6 characters)" value="Password123!" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
                <div class="help-block">@_localizer["The password you specified during registration"]</div>
            </div>
            <div class="form-group text-left">
                <div class="custom-control custom-checkbox">
                    <input type = "checkbox" class="custom-control-input" asp-for="Input.RememberMe" />
                    <label class="custom-control-label" asp-for="Input.RememberMe">@_localizer["Remember me for the next 30 days"]</label>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 pr-lg-1 my-2">
    @*<button type="submit" class="btn btn-info btn-block btn-lg">Sign in with <i class="fab fa-google"></i></button>*@
</div>
                <div class="col-lg-6 pl-lg-1 my-2">
                    <button id="js-login-btn" type="submit" class="btn btn-danger btn-block btn-lg">@_localizer["Login"]</button>
</div>
            </div>
            <div class="text-center">
                <a asp-page="ForgotPassword" class="opacity-90">@_localizer["Forgot your password?"]</a>
</div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-logsin-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
