@page
@using System.Web
@inject Microsoft.Extensions.Localization.IStringLocalizer<LogoutModel> _localizer
@model LogoutModel
@{
    ViewData["PageName"] = "logout";
    ViewData["Title"] = _localizer["Log out"].Value;
    var action = HttpUtility.UrlDecode(Request.Query["returnUrl"].FirstOrDefault()) ?? "/";
}

<div class="col-xl-6 ml-auto mr-auto">
    <div class="p-4 text-center text-white">
        <h3>@_localizer["You have successfully logged out of the application."]</h3>
        <p>@_localizer["You are advised to close your browser for security purposes."]</p>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4 ml-auto text-left pr-1">
            <a class="btn btn-block btn-primary mt-3 btn-link text-white ml-auto border-0" asp-area="Identity" asp-page="/account/login">
                <i class="fal fa-shield-check fs-lg mr-1"></i> @_localizer["Secure Login"]
            </a>
        </div>
        <div class="col-md-4 ml-auto text-right pl-1 pr-1">
            <a class="btn btn-block btn-success bg-success-700 mt-3 btn-link text-white ml-auto border-0" asp-area="Identity" asp-page="/account/register">
                <i class="fal fa-user fs-lg mr-1"></i> @_localizer["Register account"]
            </a>
        </div>
        <div class="col-md-4 ml-auto text-right pl-1">
            <a class="btn btn-block btn-danger bg-danger-700 mt-3 btn-link text-white ml-auto border-0" href="@action">
                <i class="fal fa-arrow-alt-left fs-lg mr-1"></i> @_localizer["Return to Previous"]
            </a>
        </div>
    </div>
</div>
