@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer _localizer
<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="@(User.GetProfilePictureDataUrl())" class="rounded-circle profile-image" alt="@(User.GetDisplayName())">
        </span>
        <div class="info-card-text">
            <div class="fs-lg text-truncate text-truncate-lg">@(User.GetDisplayName())</div>
            <span class="text-truncate text-truncate-md opacity-80">@(User.GetEmail())</span>
        </div>
    </div>
</div>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-reset">
    <span data-i18n="drpdwn.reset_layout">@_localizer["Reset Layout"]</span>
</a>
<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
    <span data-i18n="drpdwn.settings">@_localizer["Settings"]</span>
</a>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">@_localizer["Fullscreen"]</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>
<a href="#" class="dropdown-item" data-action="app-print">
    <span data-i18n="drpdwn.print">@_localizer["Print"]</span>
    <i class="float-right text-muted fw-n">Ctrl + P</i>
</a>
<div class="dropdown-multilevel dropdown-multilevel-left">
    <div class="dropdown-item">
        @_localizer["Language"]
    </div>
    <vc:language-selector />
    
</div>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item fw-500 pt-3 pb-3" asp-area="Identity" asp-page="/account/logout">
    <span data-i18n="drpdwn.page-logout">@_localizer["Logout"]</span>
    <span class="float-right fw-n">@(User.Identity.Name)</span>
</a>
