@if (Settings.Features.ShortcutMenu)
{
<nav class="shortcut-menu d-none d-sm-block">
	<input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
	<label for="menu_open" class="menu-open-button ">
		<span class="app-shortcut-icon d-block"></span>
	</label>
	<a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Scroll Top">
		<i class="@(Settings.Theme.IconPrefix) fa-arrow-up"></i>
	</a>
	<a href="/page/login" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Logout">
		<i class="@(Settings.Theme.IconPrefix) fa-sign-out"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Full Screen">
		<i class="@(Settings.Theme.IconPrefix) fa-expand"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Print page">
		<i class="@(Settings.Theme.IconPrefix) fa-print"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-voice" data-toggle="tooltip" data-placement="left" title="Voice command">
		<i class="@(Settings.Theme.IconPrefix) fa-microphone"></i>
	</a>
</nav>
}